<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- Product's detail page -->
    <servlet>
        <servlet-name>ServletProduct</servlet-name>
        <servlet-class>servlets.ServletProduct </servlet-class>
        <init-param>
            <param-name>defaultTab</param-name>
            <param-value>1</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletProduct</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <!-- Catalog of products -->
    <servlet>
        <servlet-name>ServletCatalog</servlet-name>
        <servlet-class>servlets.ServletCatalog </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCatalog</servlet-name>
        <url-pattern>/catalog</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
