/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20.10.2016, 18:37:40
    Author     : COMar-PC
*/

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    /*-moz-box-sizing: border-box;*/
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: #e2e2e2;
    color: #333;
    min-height: 100%;
    position: relative;
}

/*ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}*/

ul li {
    list-style-type: none;
}

li {
    display: list-item;
    /*text-align: -webkit-match-parent;*/
}

a {
    text-decoration: none;
    color: #ff6666;
}

p, ol {
    margin: 0 0 10px 0;
}

h1, h2 {
    font-weight: 400;
    margin-bottom: 15px;
}

h2 span {
    color: #3cce7b;
}

h3 {
    margin: 15px 0;
    font-weight: 600;
    text-transform: uppercase;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
    padding: 0 5px;
}

.clearfix:after,
.comment:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}




input[type="text"], input[type="password"], select {
    width: 100%;
    padding: 7px 10px;
    border: 1px solid #a9a9a9
}

table select {
    width: auto;
}



.header {
    background: #333;
    border-top: 3px solid #ff6666;
    border-bottom: 3px solid #ff6666;
    margin-bottom: 20px;
}

.header .container {
    padding-left: 250px;
}

.logo {
    display: block;
    position: absolute;
    background: url(http://stat.yummyanime.com/img/new-logo3.png) no-repeat;
    width: 243px;
    height: 85px;
    top: -10px;
    left: 0;

    /*width: 274px;*/
    /*height: 91px;*/
    /*top: -10px;*/
    /*left: -24px;*/
}

.menu {
    float: right;
}

.menu li {
    float: left;
}

.menu a {
    font-weight: 300;
    font-size: 15px;
    display: block;
    color: #fff;
    text-transform: uppercase;
    padding: 22px 20px;
    position: relative;
    transition: background .4s;
}

.menu a span {
    display: block;
    font-size: 12px;
    text-transform: none;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 10px;
}

.menu a:hover,
.menu a.active {
    background: #ff6666;
}