/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20.10.2016, 18:37:40
    Author     : COMar-PC
*/

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: #e2e2e2;
    color: #333;
    min-height: 100%;
    position: relative;
}

ul li {
    list-style-type: none;
}

li {
    display: list-item;
}

a {
    text-decoration: none;
    color: #ff6666;
}

p, ol {
    margin: 0 0 10px 0;
}

h1, h2 {
    font-weight: 400;
    margin-bottom: 15px;
}

h2 span {
    color: #3cce7b;
}

h3 {
    margin: 15px 0;
    font-weight: 600;
    text-transform: uppercase;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
    padding: 0 5px;
}

.clearfix:after,
.comment:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.small-text {
    display: block;
    font-size: 12px;
    text-align: center;
    font-weight: 300;
    text-transform: lowercase;
}

.content-block {
    margin-bottom: 20px;
}

.search-block {
    position: relative;
    margin-bottom: 10px;
}

input[type="text"], input[type="password"], select {
    width: 100%;
    padding: 7px 10px;
    border: 1px solid #a9a9a9;
}

input[type="submit"], .submit {
    background: #3cce7b;
    color: #fff;
    font-size: 14px;
    padding: 7px 15px;
    margin-bottom: 0;
    cursor: pointer;
    display: inline-block;
}

input[type="submit"].search-submit {
    background: url(../resources/images/sprites.png) -25px -24px no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 10px;
    top: 11px;
    cursor: pointer;
}

input.search {
    border: 1px solid #acadad;
    padding: 15px 20px;
    background: #fff;
    font-weight: 300;
    font-style: italic;
    font-size: 14px;
    transition: .3s;
}

@media (max-width: 1024px) {
    .content-block {
        overflow: hidden;
    }
    
    input.search {
        padding: 15px 110px 15px 20px;
    }
}